:root {
    --primary-color: #FFCB0F;
    --secondary-color: #ffdd61;
    --quarternary-color: #FFE37D;
    --tertiary-color: #FFF7DC;
    --primary-font: "Roboto Slab", Arial;
    --secondary-font: "Manrope", Arial;
}

/* reset configs */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* homepage */
body {
    background-color: var(--tertiary-color);
    font-family: var(--secondary-font);
}

.navbar {
    display: flex;
    background-color: var(--primary-color);
    justify-content: space-between;
    box-shadow: 0px 3px 15px gray;
}

.banner {
    background-color: var(--quarternary-color);
    margin: 5rem 0;
    padding: 2rem;
    display: flex;
}

.banner img {
    filter: drop-shadow(0px 0px 10px #00000083);
}

.banner h2 {
    font-family: var(--primary-font);
    font-size: 4rem;
}

.first h2 {
    margin: 3rem 1rem 1rem 3rem;
}

.second h2 {
    font-size: 4rem;
    margin: 1rem 1rem 1rem 3rem;
}

.banner  p {
    width: 800px;
    margin: auto 5rem;
    font-size: 1.2rem;
}

.first, .second, .third {
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.third span {
    text-shadow: 
        2px 2px 0px black,
        -2px -2px 0px black,
        2px -2px 0px black,
        -2px 2px 0px black;
    color: var(--primary-color);
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar img {
    width: 80px;
    margin-left: 1rem;
}

.navbar li a {
    display: block;
    text-decoration: none;
    padding: 25px 1rem;
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: var(--secondary-font);
    font-size: 1.5rem;
}

.navbar li a:hover {
    background-color: #E8B600;
}

#ham-menu {
    display: none;
}

figure {
    text-align: center;
    margin: 5rem;
}

.recipe-img {
    padding: 2rem 0 1rem 0;
    background-color: var(--quarternary-color);
    margin: 0 0 2rem 0;
}

figure img {
    border-radius: 5px;
    box-shadow: 0px 0px 15px gray;
    width: 600px;
}

h1 {
    padding-top: 1rem;
    font-family: var(--primary-font);
    text-align: center;
}

.container h2 {
    font-family: var(--primary-font);
    text-align: center;
    padding-bottom: 1rem;
}

section {
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 2rem;
    width: 595px;
    grid-column: 2/3;
    grid-row: 1/3;
    box-shadow: 3px 3px 15px gray;
}

article {
    width: 250px;
    background-color: var(--quarternary-color);
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 3px 3px 15px gray;
}

article h3 {
    font-family: "Roboto Slab", Arial;
    margin-bottom: 1rem;
}

.ingredients {
    grid-column: 3/4;
    margin-bottom: .25rem ;
}

.tips {
    margin-top: .25rem ;
    grid-column: 3/4;
    grid-row: 2/3;
}

.tips li, .ingredients li {
    margin-left: 1rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 600px 250px 1fr;
    grid-template-rows: 1fr 300px;
    
}

.navfooter {
    margin-top: 5rem;
    padding: .5rem;
    text-align: center;
    background-color: var(--primary-color);
}

.social-midias img {
    margin: .2rem .3rem;
    width: 20px;
}

/* recipes page */
.recipes-header {
    background-color: #f3be00;
}

.recipes-header h1 {
    padding-top: 2rem;
}

.recipes-header p {
    width: 700px;
    text-align: center;
    margin: auto;
    padding: 3rem 0 8rem 0;
}

.recipes-container p {
    width: 500px;
}

.recipes-container {
    width: 900px;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 50px;
    padding: 1rem;
    background-color: var(--quarternary-color);
    border-radius: 5px;
    box-shadow: 3px 3px 10px gray;
}

.recipes-container a:hover {
    color: rgb(0, 0, 180);
}

.recipes-container a {
    color: black;
}

.recipes-container h2 {
    align-content: center;
    font-family: "Roboto Slab";
}

.recipes-container img {
    grid-row: 1/3;
    border-radius: 5px;
    width: 200px;
    box-shadow: 3px 3px 10px gray;
}

/* learning page */
.suggestion-form {
    display: flex;
    background-color: var(--quarternary-color);
    justify-content: space-between;
}

.suggestion-logo span {
    font-weight: bold;
    color: var(--primary-color);
        text-shadow: 
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
}

.suggestion-logo {
    display: flex;
    text-align: center;
    font-family: "Roboto Slab", Arial;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: var(--secondary-color);
}

.suggestion {
    display: flex;
    flex-direction: column;
    padding: 5rem;
}

.suggestion label[for="suggestion"],
.suggestion label[for="email"] {
    font-size: 1.3rem;
    font-weight: bold;
}

.suggestion label, input[type="submit"] {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: .5rem;
    font-family: var(--primary-font);
}

input[type="text"],
input[type="email"] {
    font-size: 1.2rem;
    color: rgb(73, 73, 73);
    padding: 15px;
    border-radius: 5px;
}

input[type="submit"] {
    margin: .5rem;
    padding: 15px;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: black;
}

input[type="submit"]:hover {
    background-color: rgb(96, 96, 96);
}

.learning {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 5rem 17rem;
}

.learning-recipes {
    text-align: center;
    width: 300px;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--secondary-color);
    box-shadow: 3px 3px 10px gray;
    margin: .5rem auto;
}

.learning-recipes img{
    width: 250px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.507);
}

.learning-recipes h2{
    font-family: "Roboto Slab", Arial;
    margin: 1rem 0 .5rem 0;
}

.review-site {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    margin: 5rem auto;
    border-radius: 5px;
    width: 500px;
    height: 500px;
    box-shadow: 3px 3px 10px gray;
}

.review-site p {
    padding: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

#backButton {
    padding: .8rem;
    color: white;
    font-family: "Roboto Slab", Arial;
    font-weight: bold;
    background-color: rgb(0, 0, 129);
    border: none;
    border-radius: 5px;
    margin: 1rem;
    box-shadow: 3px 3px 10px gray;
}

#backButton:hover {
    background-color: rgb(0, 0, 167) ;
}

@media screen and (max-width: 600px) {
    .nav-links {
        display: none;
        position: fixed;
        top: 80px;
        flex-direction: column;
        background-color: #f3be00;
        width: 100%;
        transition: 0.3s;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        width: 100%;
    }

    #ham-menu {
        display: block;
        position: relative;
        top: 25px;
        right: 15px;
    }

    .bar {
        display: block;
        width: 30px;
        height: 3.3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        background-color: black;
    }

    #ham-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    #ham-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    #ham-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .recipes-container img {
    width: 120px;
    }

    .recipes-header h1 {
    padding-top: .8rem;
    }

    .recipes-header p {
        width: 200px;
        font-size: 15px;
        padding: 2rem 0 4rem 0;
    }

    .recipes-container p {
        width: 250px;
        text-align: center;
        font-size: 15px;
    }

    .recipes-container {
        width: 280px;
        grid-template-columns: 250px;
        grid-template-rows: 50px;
        padding: 1rem;
    }

    .recipes-container h2 {
        align-content: center;
        font-family: "Roboto Slab";
        margin-top: 1rem;
        margin-bottom: .5rem;
        text-align: center;
        font-size: 1.5rem;
    }

    .recipes-container img {
        grid-row: 1/3;
        border-radius: 5px;
        width: 250px;
        margin: auto;
    }

    .navfooter p {
        font-family: "Roboto Slab", Arial;
        font-size: 13px;
    }

    .social-midias img {
        margin: .2rem .3rem;
        width: 18px;
    }
    
    /* home page banners */
    .banner {
        padding: 1rem;
        display: block;
        text-align: center;
    }
    
    .banner img {
        width: 250px;
    }

    .banner h2 {
        font-size: 1.3rem;
        margin: 0;
    }

    .second h2 {
        font-size: 1.1rem;
    }

    .banner p {
        margin: auto ;
        width: 250px;
        font-size: .8rem;
    }

    .first p {
        margin-bottom: 1.5rem;
    }

    .third span {
        text-shadow: 
            1px 1px 0px black,
            -1px -1px 0px black,
            1px -1px 0px black,
            -1px 1px 0px black;
        color: var(--primary-color);
    }

    /* learnig page */
    .learning {
        grid-template-columns: 300px;
        margin: auto;
        justify-content: center;
    }
    
    .learning-recipes {
        text-align: center;
        width: 280px;
        padding: 1rem;
        border-radius: 5px;
        background-color: var(--secondary-color);
        box-shadow: 3px 3px 10px gray;
        margin: .5rem auto;
    }
    
    .suggestion-form {
        flex-direction: column;
        margin-top: 1rem;
    }

    .suggestion-logo {
        font-size: 2rem;
        padding: 2rem;
        width: 100%;
    }

    .suggestion {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .suggestion label, input[type="submit"] {
        width: 90%;
        margin: .5rem auto;
    }

    .suggestion label[for="suggestion"],
    .suggestion label[for="email"] {
        font-size: 1rem;
    }

    input[type="text"],
    input[type="email"] {
        font-size: 1rem;
    }

    input[type="submit"] {
        font-size: 1.2rem;
        cursor: pointer;
    }

    /* recipes page */
    .container h2 {
        font-size: 1.3rem;
    }

    section {
        padding: 1rem;
        width: 280px;
        margin: auto;
        grid-column: auto;
    }

    article {
        margin: 1rem auto;
        width: 280px;
        height: 500px;
        padding: 1rem;
    }

    article h3 {
        font-family: "Roboto Slab", Arial;
        margin-bottom: 1rem;
    }

    .ingredients {
        grid-column: auto;
        margin-bottom: .25rem ;
    }

    .tips {
        margin-top: .25rem ;
        grid-column: auto;
        grid-row: auto;
    }

    .tips li, .ingredients li {
        margin-left: 1rem;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;        
    }

    figure {
        text-align: center;
        margin: 5rem;
    }

    .recipe-img figcaption {
        font-size: 10px;
    }
    
    figure img {
        width: 280px;
    }
}