:root {
    --primary-color: #FFCA1A;
    --secondary-color: #131313;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fcfcfc;
    min-width: 350px;
}

header h1 {
    background-color: var(--primary-color);
    font-family: "Roboto Slab", Arial;
    padding: 20px;
    text-align: center;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--secondary-color);
    padding: 2px;
}

.navbar a {
    display: block;
    font-family: "Manrope", Arial;
    padding: 15px;
    font-size: 25px;
    text-decoration: none;
    color: white;
    flex-basis: 500;
}

.navbar a:hover {
    color: var(--primary-color);
    text-decoration: overline var(--primary-color);
}

.card {
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: .9rem;
    max-width: 50rem;
    height: 550px;
    margin: 50px 5px 20px 20px;
    overflow: hidden;
    grid-column: 2/3;
    background-color: #f7f7f7;
}

h2 {
    font-family: "Roboto Slab";
    background-color: var(--primary-color);
    text-align: center;
    padding: 15px;
}

.myinf {
    overflow: hidden;
    margin: 20px;
}

.myinf img {
    width: 180px;
    height: auto;
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 3%;
    float: right;
    background-color: rgb(204, 204, 204);
    padding: 2px;
    margin: auto 15px 5px 20px;
}

.myinf p {
    font-family: "Manrope";
    margin-top: 20px;
}


.countryinf h3 {
    font-family: "Roboto Slab", Arial;
    margin: 5px 25px;
    padding: 5px;
    max-width: 620px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
}

figure {
    float: left;
    margin: 20px;
    font-family: "Manrope", Arial;
    font-size: 13px;
}

.countryinf img {
    width: 200px;
}

.countryinf p {
    max-width: 650px;
    padding-top: 20px;
    font-family: "Manrope", Arial;
    font-size: 14px;
}

.devresources {
    max-width: 30rem;
    height: 550px;
    background-color: #f7f7f7;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: .9rem;
    overflow: hidden;
    grid-column: 3/4;
    margin: 50px 20px 20px 5px;
}

.devresources ul {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
}

.devresources a {
    font-family: "Manrope", Arial;
    text-decoration: none;
    font-size: 20px;
}

.devresources a:hover {
    color: var(--primary-color);
}

main {
    display: grid;
    grid-template-columns: 1fr 5fr 3fr 1fr;
}

.navfooter {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-color);
    border-top: 1px solid rgb(0, 0, 0, 0.1);
    padding: 10px;
    font-family: "Roboto Slab", Arial;
}