:root {
    --primary-color: #FFCA1A;
    --secondary-color: #131313;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1 {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
}

.navbar {
    display: flex;
    background-color: var(--secondary-color);
    justify-content: space-around;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar a {
    display: block;
    padding: 20px 50px;
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    text-decoration: underline var(--primary-color);
}

