:root {
    --bgc: rgb(15, 15, 108);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--bgc);
    box-shadow: 0px 5px 15px gray;
}

li {
    list-style: none;
    display: block;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-left: 25px;
    color: white;
    font-size: 2.5rem;
    font-family: "Roboto Slab";
}

#nav-menu {
    display: none;
    position: fixed;
    top: 70px;
    flex-direction: column;
    background-color: rgb(7, 7, 78);
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

#nav-menu.active {
    display: flex;
}

a {
    padding: 1.5rem;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-family: "Manrope", Arial;
}

a:hover {
    background-color: rgb(44, 44, 178);
}

img {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 15px rgb(121, 121, 121);
    border-radius: .5rem;
}

.label {
    font-weight: bold;
}

.inf {
    text-align: center;
    font-family: "Manrope", sans-serif;
    padding: .3rem;
}

figure {
    background-color: rgb(243, 243, 243);
    padding: 15px;
    margin: 10px;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px gray;
}

.temples-pics {
    display: grid;
    grid-template-columns: 1fr; 
} 

h2 {
    text-align: center;
    font-family: "Roboto Slab", Arial;
    padding: 15px;
}

h3 {
    font-size: 1.5rem;
    color: var(--bgc);
    font-family: "Roboto Slab", Arial;
    margin: 3rem auto 1rem auto;
}

#menu {
    display: block;
    font-size: 2.6rem;
    border: 0;
    background: none;
    color: #fff;
    position: relative;
    right: 15px;
}

#menu::before{
    content: "☰";
}

.nav-footer {
    padding: 10px;
    background-color: rgb(15, 15, 108);
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: "Roboto Slab", Arial;
}
