:root {
    --primary-color: #06912f; /* green */
    --secondary-color: #ffca00; /* yellow */
    --tertiary-color: #07008F; /* blue */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffca00;
}

h1 {
    padding: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.264);
    color: white;
    background-color: var(--tertiary-color);
    font-family: "Roboto Slab", Arial;
    font-size: 3rem;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.767);
}

main img {
    position: relative;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.country-data {
    position: absolute;
    top: 30%;
    left: 5%;
}

.country-weather {
    position: absolute;
    top: 90%;
    left: 70%;
}

ul {
    list-style: none;
    padding: 15px;
}

li {
    padding: 5px;
    font-family: "Manrope";
}

section {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px 50px;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 15px 3px rgb(44, 44, 44);
}

section h2 {
    background-color: var(--secondary-color);
    padding: 10px;
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-top: -10px;
    margin-left: -58px;
    margin-right: 10px;
    margin-bottom: 15px;
    text-align: left;
    box-shadow: 2px 5px 25px rgba(0, 0, 0, 0.444);
    font-family: "Roboto Slab", Arial;
}

.country-weather h2::after {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    margin-left: 30px;
    background-image: url("../images/weather.svg");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}


footer {
    padding: 1rem;
    background-color: var(--tertiary-color);
    color: white;
    text-align: center;
    font-family: "Roboto Slab", Arial;
    font-size: 18px;
}

@media screen and (max-width: 500px){
    body {
        background-color: var(--primary-color);
    }

    h1 {
        margin-bottom: 1rem;
    }

    main img {
        position: static;

    }

    .country-weather, .country-data {
        position: static;
        top: auto;
        left: auto;
    }

    section {
        background-color: rgba(255, 255, 255, 0.945);
        padding: 0px;
        margin: 1px auto;
        position: static;
        box-shadow: none;
    }

    section h2 {
        background-color: transparent;
        padding: 10px;
        font-size: 30px;
        box-shadow: none;
        text-align: center;
        margin: auto;
    }

    .country-weather h2::after {
        content: "";
        display: block;
        width: 80px;
        height: 80px;
        margin: 30px auto;
        background-image: url("../images/weather.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    footer {
        font-size: 15px;
    }
}
