* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(15, 15, 108);
}

li {
    list-style: none;
    display: block;
}

a {
    padding: 1.5rem;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-family: "Manrope", Arial;
}

a:hover {
    background-color: rgb(32, 32, 106);
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-left: 25px;
    color: white;
    font-size: 2.5rem;
    font-family: "Roboto Slab";
}

#nav-menu {
    display: none;
    position: fixed;
    top: 70px;
    flex-direction: column;
    background-color: rgb(7, 7, 78);
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

#nav-menu.active {
    display: flex;
}

a {
    padding: 1.5rem;
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-family: "Manrope", Arial;
}

a:hover {
    background-color: rgb(32, 32, 106);
}

img {
    width: 350px;
}

figcaption {
    text-align: center;
    font-family: "Manrope", sans-serif;
}

figure {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temples-pics {
    display: grid;
    grid-template-columns: 1fr; 
} 

h2 {
    text-align: center;
    font-family: "Roboto Slab";
    padding: 15px;
}

#menu {
    display: block;
    font-size: 2.6rem;
    border: 0;
    background: none;
    color: #fff;
    position: relative;
    right: 15px;
}

#menu::before{
    content: "☰";
}

.nav-footer {
    padding: 10px;
    background-color: rgb(15, 15, 108);
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: "Roboto Slab", Arial;
}
